<div class="container" id="content">
	<h1>Session notes for {{chapter_name}}</h1>
	{{#sessions}}
		<div id="{{id}}" >
			<h3>{{title}} <small>{{date}}</small></h3>
			{{#summary}}
				<p>{{{.}}}</p>
			{{/summary}}
		</div>
		<br>
	{{/sessions}}
</div>